$text: #ffffff;
$background: radial-gradient(100% 100% at 50% 50%, #A100FFFF 0%, #71C4FFFF 100%);
$accent: rgb(251, 252, 252);
$blue: rgb(121, 121, 226);
$white: #FFFFFF;
$shadow: 0 0 10px 0 #d7d7d77a;
$border: solid 3px #ffffff67;